<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/data/part-1/1-getting-started">Getting Started</a>
        <a href="{{ site.baseurl }}/data/part-1/2-information-from-the-user">Information</a>
        <a href="{{ site.baseurl }}/data/part-2">Part 2</a>
        <a href="{{ site.baseurl }}/data/part-3">Part 3</a>
        <a href="{{ site.baseurl }}/data/all-exercises">All Exercises</a>
    </nav>
    <main>
        {{ content }}
    </main>
</body>
</html>
